body {
  font-family: Inconsolata;
  font-weight: 400;
  font-size: 14pt;
  line-height: 1.2em;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 60rem;
  width: 100vw;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
}

main {
  overflow-x: auto;
}

header p.nav {
  margin-top: auto;
  margin-left: auto;
}

header p.header {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

ul,
ol {
  padding-left: 2em;
}

code {
  font-family: Inconsolata;
}

pre {
  padding: 0.75rem;
  border-radius: 0.25rem;
  overflow-x: auto;
}

code:not(pre code) {
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
}

a {
  color: #dc3545;
}

a:visited {
  color: #f19cbb;
}

header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

footer {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08);
}
